.header{
    color: black;
    font-size: 19px;
    box-shadow: 5px 5px 5px rgb(255, 255, 255);
}
.header:hover{
    width: 220px;
}
body{
    background-size: cover;
    background-position: center;
}

.link {
    font-size: 15px;
    background: white;
    border-radius: 10px;
    width: 300px;
    margin-top: 15px;
}

.link:hover {
    font-size: 20px;
    text-decoration: underline;
}